In [2]:
import numpy as np
import pandas as pd

In [3]:
sachin_df = pd.read_csv("/Users/mariya/pers/Learnings/Data Science/DataSets/Sachin_ODI.csv")

In [4]:
sachin_df.head()

,runs,NotOut,mins,bf,fours,sixes,sr,Inns,Opp,Ground,Date,Winner,Century,Won
0,13,0,30,15,3,0,86.66,1,New Zealand,Napier,1995-02-16,New Zealand,No,No
1,37,0,75,51,3,1,72.54,2,South Africa,Hamilton,1995-02-18,South Africa,No,No
2,47,0,65,40,7,0,117.50,2,Australia,Dunedin,1995-02-22,India,No,Yes
3,48,0,37,30,9,1,160.00,2,Bangladesh,Sharjah,1995-04-05,India,No,Yes
4,4,0,13,9,1,0,44.44,2,Pakistan,Sharjah,1995-04-07,Pakistan,No,No

In [6]:
won_count = sachin_df['Won'].value_counts()

In [7]:
won_count

Yes    184
No     176
Name: Won, dtype: int64

In [22]:
df_won = sachin_df[sachin_df['Won']=='Yes'].value_counts()

In [24]:
len(df_won)

184

In [31]:
won_percent = round((len(df_won) / len(sachin_df)) * 100, 0)

In [32]:
won_percent

51.0

In [35]:
century_cnt = sachin_df[sachin_df['Century'] == 'Yes'].value_counts()

In [37]:
len(century_cnt)

46

In [40]:
century_percent = round((len(century_cnt) / len(sachin_df))*100, 0)

In [65]:
sachin_df[['Won', "Century"]]

     Won Century
0     No      No
1     No      No
2    Yes      No
3    Yes      No
4     No      No
..   ...     ...
355   No      No
356  Yes      No
357  Yes      No
358   No     Yes
359  Yes      No

[360 rows x 2 columns]

In [66]:
sachin_df[['Won', "Century"]].value_counts()

Won  Century
No   No         160
Yes  No         154
     Yes         30
No   Yes         16
dtype: int64

In [74]:
pd.crosstab(index=sachin_df['Century'], columns=sachin_df['Won'])

Won       No  Yes
Century
No       160  154
Yes       16   30

In [75]:
pd.crosstab(index=sachin_df['Century'], columns=sachin_df['Won'], margins=True)

Won       No  Yes  All
Century
No       160  154  314
Yes       16   30   46
All      176  184  360

In [78]:
century_won_cnt = sachin_df[(sachin_df['Century']=='Yes') & (sachin_df['Won']=='Yes')].value_counts()

In [79]:
len(century_won_cnt)

30

In [80]:
century_won_percent = len(century_won_cnt) / len(sachin_df)

In [81]:
century_won_percent

0.08333333333333333

In [85]:
loss_cnt = sachin_df[sachin_df["Won"]=="No"].value_counts()

In [83]:
loss_cnt

runs  NotOut  mins  bf   fours  sixes  sr      Inns  Opp           Ground         Date        Winner  Century  Won
0     0       2     3    0      0      0.00    2     New Zealand   Delhi          1999-11-17  India   No       Yes    1
68    0       110   79   10     0      86.07   2     England       Chennai        2002-01-25  India   No       Yes    1
62    0       113   86   9      0      72.09   2     Zimbabwe      Kanpur         2000-12-11  India   No       Yes    1
63    0       92    54   10     0      116.66  2     Sri Lanka     Hobart         2008-02-26  India   No       Yes    1
65    0       110   70   3      1      92.85   1     West Indies   Port of Spain  2002-06-02  India   No       Yes    1
                                                                                                                     ..
23    0       37    19   4      0      121.05  2     New Zealand   Napier         1999-01-12  India   No       Yes    1
24    0       78    44   2      0      54.54   1     South Africa  Johannesburg   2011-01-15  India   No       Yes    1
25    0       55    35   4      0      71.42   2     Kenya         Nairobi (Gym)  2000-10-03  India   No       Yes    1
      1       66    45   3      0      55.55   2     Pakistan      Toronto        1997-09-14  India   No       Yes    1
200   1       226   147  25     3      136.05  1     South Africa  Gwalior        2010-02-24  India   Yes      Yes    1
Length: 184, dtype: int64

In [86]:
len(loss_cnt)

176

In [87]:
no_century_cnt = sachin_df[sachin_df["Century"]=="No"].value_counts()

In [88]:
len(no_century_cnt)

314

In [89]:
no_won_or_no_century = sachin_df[(sachin_df["Won"]=="No") | (sachin_df["Century"]=="No")].value_counts()

In [90]:
len(no_won_or_no_century)

330

In [91]:
prob_nowin_or_nocentury = len(no_won_or_no_century)/len(sachin_df)

In [92]:
prob_nowin_or_nocentury

0.9166666666666666

In [93]:
no_won_and_no_century = sachin_df[(sachin_df["Won"]=="No") & (sachin_df["Century"]=="No")].value_counts()

In [94]:
len(no_won_and_no_century)

160

In [95]:
prob_nowin_and_nocentury = len(no_won_and_no_century)/len(sachin_df)

In [96]:
prob_nowin_and_nocentury

0.4444444444444444

In [97]:
fraction_df = pd.read_csv('https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/008/635/original/rolling_single_die.csv?1660305777')

In [98]:
fraction_df.head()

   die_outcome
0            3
1            1
2            2
3            4
4            1

In [99]:
fraction_df

       die_outcome
0                3
1                1
2                2
3                4
4                1
...            ...
99995            1
99996            4
99997            4
99998            2
99999            6

[100000 rows x 1 columns]

In [136]:
outcome_three = fraction_df[fraction_df['die_outcome']==3]

In [137]:
len(outcome_three)

16530

In [138]:
res1 = len(outcome_three)/len(fraction_df)

In [139]:
res1

0.1653

In [ ]:
len(df[df[â€˜die_outcomeâ€™] == 3])/len(df)

# 2.Correct option : b
# len(df[df[â€˜die_outcomeâ€™] <= 5])/len(df)

In [140]:
outcome_val= fraction_df[fraction_df['die_outcome']<=5]

In [141]:
len(outcome_val)

83449

In [142]:
res2 = len(outcome_val)/len(fraction_df)
res2

0.83449

In [143]:
health_df = pd.read_csv('https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/009/239/original/weight-height.csv?1661241462')

In [144]:
health_df.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [145]:
less_than70_cnt = len(health_df[health_df['Height']<=70])
less_than70_cnt

8122

In [146]:
lessthan70_percent = less_than70_cnt/len(health_df)

In [147]:
lessthan70_percent

0.8122

In [148]:
len(health_df[health_df.Height<=70])/len(health_df)

0.8122

In [149]:
sachin_df.head()

,runs,NotOut,mins,bf,fours,sixes,sr,Inns,Opp,Ground,Date,Winner,Century,Won
0,13,0,30,15,3,0,86.66,1,New Zealand,Napier,1995-02-16,New Zealand,No,No
1,37,0,75,51,3,1,72.54,2,South Africa,Hamilton,1995-02-18,South Africa,No,No
2,47,0,65,40,7,0,117.50,2,Australia,Dunedin,1995-02-22,India,No,Yes
3,48,0,37,30,9,1,160.00,2,Bangladesh,Sharjah,1995-04-05,India,No,Yes
4,4,0,13,9,1,0,44.44,2,Pakistan,Sharjah,1995-04-07,Pakistan,No,No

In [154]:
three_fours = len(sachin_df[sachin_df['fours']>=3])
three_fours

208

In [155]:
three_fours/len(sachin_df)

0.5777777777777777

In [156]:
two_fours = len(sachin_df[sachin_df['fours']==2])
two_fours

38

In [157]:
two_fours/len(sachin_df)

0.10555555555555556